@model IEnumerable<Usuarios>

@{
    ViewData["Title"] = "READ USER";
}
<h1>Todos los usuarios</h1>
@* <a asp-action="Create" asp-controller="Admin" class="btn btn-secondary">Create a User</a> *@
@* //Modificacion de Register por Deffault *@

<table class="table">
    <tr>
        <th>ID</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Autorizado</th>
        <th>Delete</th>
    </tr>
    @foreach (Usuarios user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Autorizado</td>
            <td>@user</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        <img width="25" src="c:\users\javier\source\repos\produccion\produccion\wwwroot\img\icons\borrar.svg" />
                    </button>
                </form>
            </td>
        </tr>
    }
</table>