@* @using Producciones.Models

@model IEnumerable<Produccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadProducida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsableNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadProducida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programacion.UsuarioId)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.ResponsableNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduccion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduccion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduccion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@